BlackJackWeb/Service References/BJServiceRef/BlackJackWCF.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/BlackJackWCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/BlackJackWCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="UserWcf">
    <xs:sequence>
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="isAdmin" type="xs:boolean" />
      <xs:element minOccurs="0" name="money" type="xs:int" />
      <xs:element minOccurs="0" name="numOfGames" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UserWcf" nillable="true" type="tns:UserWcf" />
  <xs:complexType name="GameWcf">
    <xs:sequence>
      <xs:element minOccurs="0" name="FirstUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" type="xs:int" />
      <xs:element minOccurs="0" name="IP" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SecondUser" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="numOfPlayers" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GameWcf" nillable="true" type="tns:GameWcf" />
  <xs:complexType name="ArrayOfGameWcf">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GameWcf" nillable="true" type="tns:GameWcf" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGameWcf" nillable="true" type="tns:ArrayOfGameWcf" />
  <xs:complexType name="ArrayOfUserWcf">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserWcf" nillable="true" type="tns:UserWcf" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfUserWcf" nillable="true" type="tns:ArrayOfUserWcf" />
</xs:schema>